.banner {
    position: relative;
    @include fjcc;
    align-items: center;
    border-radius: 1.25rem;

    &__text {
        position: absolute;
        font-size: 1.875rem;
        color: white;
        font-weight: 500;

        @include max768 {
            font-size: 24px;
            width: 14.063rem;
            margin-top: 20px;
            left: 16%
        }
        @include smartphone {
            margin-top: inherit;
            left: 8%
        }
    }

    &__image {
        width: calc(100% - 12.5rem);
        height: 13.938rem;
        object-fit: cover;
        -webkit-filter: brightness(20%);
        filter: brightness(90%);
        border-radius: 25px;
        margin-bottom: 31px;

        @include smartphone {
            width: 95%;
            height: 6.938rem;
            object-position: bottom 2px right -7px;
            border-radius: 10px;
            margin-bottom: inherit;
        }
        &--about {
            height: 225px;
        }
    }
}