.banner {
    width: 100%;
    height: 100%;
    position: relative;
    @include flex-center;
    align-items: center;
    flex-shrink: 0;
    background-color: white;
    border-radius: 20px;

    &_text {
        position: absolute;
        font-size: 30px;
        color: white;
        font-weight: bold;
    }

    &_image {
        width: calc(100% - 200px);
        margin-top: 10px;
        object-fit: cover;
        -webkit-filter: brightness(20%);
        filter: brightness(90%);
        border-radius: 20px;
    }
}