.banner {
    position: relative;
    @include flex-center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 1.25rem;


    &__text {
        position: absolute;
        font-size: 1.875rem;
        color: white;
        font-weight: 500;

        @media (max-width: 763.99px){
            font-size: 24px;
            width: 225px;
            margin-top: 20px;
            left: 8%
        }
    }

    &__image {
        width: calc(100% - 12.5rem);
        height: 13.938rem;
        object-fit: cover;
        -webkit-filter: brightness(20%);
        filter: brightness(90%);
        border-radius: 25px;
        margin-bottom: 31px;

        @media (min-width: 350px) and (max-width: 539.99px) {
            width: 93%;
            height: 223px;
            object-position: bottom 2px right -7px;
            margin: 0px 5px;
            border-radius: 10px;
        }
    }
}