.notFound {
    @include flex-column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;

    &__error {
        font-size: 18rem;
        font-weight: 700;
        color: #FF6060;
        margin: 0;

        @media (min-width: 374.99px) and (max-width :768px) {
            font-size: 6rem;
        }
    }

    &__text {
        font-size: 36px;
        font-weight: 500;
        color: #FF6060;
        margin: 6.25rem 0rem 6.25rem;
        font-weight: 500;

        @media (min-width: 374.99px) and (max-width :768px) {
            font-size: 18px;
        }
    }

    b {
        text-decoration-line: underline;
        color: #FF6060;
        font-size: 18px;
    }
}