.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.error404 {
    font-size: 18rem;
    font-weight: 700;
    color: #FF6060;
    margin: 0;
}

.error {
    font-size: 2.25rem;
    font-weight: 500;
    color: #FF6060;
    margin: 6.25rem 0rem 6.25rem;
    font-weight: 500;
}

b {
    text-decoration: underline;
    color: #FF6060;
}


@media screen and (min-width: 768px) {}

/* @media screen and (min-width: 1200px){
    .error{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 0;
    }
    .error h1{
        font-size: 288px;
    }
    .error h2{
        font-size: 36px;
    }
    .error a{
        font-size: 18px;
    } */