.footer {
    @include flex-column;
    align-items: center;
    bottom: 0;
    width: 100%;
    background-color: black;
    padding: 3.125rem;
    margin-top: 1.875rem;

    &__agree {
        display: flex;
        text-align: center;
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
    }

    &__logo {
        width: 7.625rem;
        margin-bottom: 3.125rem;
    }
}

//!********* RESPONSIVE **********
@media screen and (max-width: 768px) {
    .footer {
        &__agree {
            font-size: 12px;
        }

        &__logo {
            margin-bottom: 1.875rem;
        }
    }
}