.footer {
    width: 100vw;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    margin-top: 2.25rem;
    position: relative;
    bottom: 0;
    z-index: 50;
    @media screen and (max-width: 425px) {
        margin-top: inherit;
    }


    @media screen and (min-width: 767.99px) {
        padding: 63px 0 30px;
    }

    &__logo {
        width: 7.6rem;
        filter: saturate(0%) brightness(0%) invert(100%);
        @media screen and (min-width: 350px) and (max-width: 425.99px) {
            padding-top: 20px;
        }

    }

    &__agree {
        font-weight: 500;
        font-size: 12px;
        padding-top: 30px;
        margin: 0;
        @media screen and (max-width: 425px) {
            padding-bottom: 30px;
            padding-top: 15px;
        }

        @media screen and (min-width: 767.99px) {
            font-size: 24px;
        }
    }
}