.gallery {
    width: calc(100% - 12rem);
    margin: auto;
    @include fjcc;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    padding: 33px 0px 10px 0px;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    border-radius: 20px;

    @include max425 {
        padding: inherit;
    }

    @include min768 {
        background-color: #f6f6f6;
    }

    @include max768 {
        .gallery {
            gap: 7px;
            background-color: none;
        }
    }

    @include max1024 {
        gap: 20px;
    }
}