.gallery {
    width: calc(100% - 12rem);
    margin: auto;
    @include fjcc;
    flex-wrap: wrap;
    align-items: center;
    gap: 3.125rem;
    padding: 33px 0px 10px 0px;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    border-radius: 20px;
    background-color: #F6F6F6;

    @include max425 {
        padding: inherit;
        background-color: transparent;
        gap: 20px;
    }

    @include min768 {
        background-color: #f6f6f6;
    }

    @include max768 {
        .gallery {
            gap: 7px;
            background-color: none;
        }
    }

    @include min1024{
        gap: 20px;
    }
}