header {
    @include flex-between;
    margin: 15px 7px 8px 7px;
    @media screen and (max-width: 425px) {
       justify-content: space-around;
    }

    ul {
        @include flex-end;
        gap: 15px;
        width: 100%;
        padding: 0;
    }

    li {
        list-style: none;
    }
}

.nav__logo {
    width: 145px;
}

.nav__link {
    width: 140px;
}

a:hover,
a.active {
    text-decoration: underline;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    text-align: right;
    color: $color-1;
}

@media screen and (min-width: 480px) {
    .nav__link {
        width: auto;
    }
}

@media screen and (min-width: 768px) {
    header {
      
        gap: 20px;
        margin: 30px 100px 20px;
        align-items: center;
    }

    .nav__logo {
        width: auto;
    }

    .nav__link {
        width: 300px;

        ul {
            gap: 60px;
        }
    }

    a {
        text-transform: none;
        text-decoration: none;
        font-size: 24px;
    }
}

@media screen and (min-width: 1441px) {
    header {
        display: flex;
        justify-content: space-between;
        flex-grow: 2;
    }
 
    }
