.nav {
    width: calc(100% - 11rem);
    @include flex-between;
    align-items: flex-start;
    margin: auto;
    padding-bottom: 3.125rem;

    &__logo {
        margin-top: 15px;
    }

    ul {
        @include flex-end;
        margin: 1.875rem 2.5rem 0rem 0rem;
        align-items: flex-end;

        a {
            text-decoration: none;
            padding: 5px;
            width: 7.5rem;

            li {
                @include flex-end;
                font-size: 1.5rem;
                width: 7.5rem;
                font-weight: 500;
                list-style: none;
                color: $color-1;
                transition: 0.2s;
                cursor: pointer;


                &:hover {
                    color: $color-1;
                }

            }

            .nav__home {
                text-align: right;
                margin-right: 10px;
            }

            .nav__about {
                width: 9.125rem;
            }

        }

        //*barre en dessous de la nav
        .nav-active {
        text-decoration: underline;
        color: $color-1;

        }
    }
}
