.side {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    @media screen and (max-width: 425px) {
        flex-direction: column;
        margin-top: -20px;
        margin-left: 5px;
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 50%;
        color: $color-1;
        margin-left: 100px;

        @media screen and (max-width: 425px) {
            margin: 20px;
            width: inherit;
        }

    }

    &__title {
        font-weight: 500;
        margin-top: inherit;

        &--first {
            font-size: 36px;
            margin-bottom: 0px;

            @media screen and (max-width: 425px) {
                font-size: 18px;
            }
        }

        @media (min-width: 601px) and (max-width: 768px) {
            font-size: 21px;

        }

        &--town {
            font-size: 18px;
            margin-top: 0px;
        }
    }

    &__content {
        &--tags {
            width: 7.188rem;
            height: 25px;
            border-radius: 10px;
        }
}

    &__description {
        margin: 52px 50px 10px 0px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        color: $color-1;
        width: 50%;
        margin-right: 100px;

        @media (min-width: 601px) and (max-width: 768px) {
            justify-content: flex-end;
        }
    }

    &--picture {
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
    }

    &__detail {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        img {
            border-radius: 50%;

            @media (min-width: 601px) and (max-width: 768px) {
                width: 55px;
            }
        }

        &--name {
            width: 5.813rem;
            font-size: 18px;
            font-weight: 500;
            padding-left: 15px;

            @media (min-width: 601px) and (max-width: 768px) {
                font-size: 15px;
            }
        }
    }

    &__equipments {
        margin-bottom: 10px;
        margin-top: 16px;
        margin: 35px 0px 10px 50px;

        &--right {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }

}