.loading {
    position: fixed;
    left: 50%;
    top: 61%;
    font-family: "montserrat";
    transform: translate(-50%, -50%);
    color: #b260ff;
    font-weight: 700;
    font-size: 2rem;
    animation: fade 0.75s infinite alternate;
    z-index: 50;

    &::after {
        content: "";
        height: 15%;
        width: 100%;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        opacity: 0.2;
        position: absolute;
        top: 90%;
        left: 0;
        animation: load 1.5s infinite; 
    }
}

@keyframes fade {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes load {
    0% {
        transform: scaleX(0);
        transform-origin: 0 0;
    }

    50% {
        transform: scaleX(1);
        transform-origin: 0 0;
    }

    55% {
        transform-origin: 100% 0;
    }

    100% {
        transform: scaleX(0);
        transform-origin: 100% 0;
    }
}


//***    RESPONSIVE  ****

@media screen and (max-width: 768px) {
    .hidden {
        display: none;
    }
}