.location {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-between;
	width: 100%;

	@media screen and (min-width: 425.99px) {
		flex-direction: row;
		align-items: center;
		margin-left: 10px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: left;
		width: 100%;
		height: 100%;
		margin-left: 5.625rem;

		@media screen and (max-width: 768px) {
			margin-left: 10px;
			max-width: 19.063rem;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 25.67px;
		color: #ff6060;
		margin: 15px 0 0px;

		@include tabDesc {
			font-size: 26px;
			margin: 20px 0 5px;
		}

		@include min1440 {
			font-size: 36px;
			margin: 20px 0 20px;
		}
	}

	&__location {
		font-weight: 500;
		font-size: 14px;
		line-height: 142.6%;
		color: #ff6060;
		margin: 0 0 10px;

		@media screen and (min-width: 1024px) {
			font-size: 18px;
			margin: 0 0 20px;
		}

	}

	&__tags {
		display: flex;
		width: 100%;
		gap: 10px;

		img {
			width: 30px;
			height: 30px;
		}
	}

	&__profil {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-right: 100px;
		margin-left: 100px;

		@include max768 {
			margin-right: 30px;
			margin-left: 10px;
		}

		@include max425 {
			flex-direction: row-reverse;
		}
	}

	&__host {
		display: flex;
		gap: 10px;
		align-items: center;
		margin: 15px 0;

		@media screen and (min-width: 350px) and (max-width: 545px) {
			margin: 15px -15px;
		}

		h3 {
			font-weight: 500;
			font-size: 18px;
			line-height: 17.11px;
			display: flex;
			align-items: flex-end;
			text-align: right;
			width: min-content;
			margin: 0;
			color: #ff6060;

			@media screen and (min-width: 350px) and (max-width: 545px) {
				font-size: 12px;
			}
		}

		img {
			border-radius: 50%;
			width: 4rem; //*64px
			height: 4rem;

			@include smartphone {
				width: 32px;
				height: 32px;
			}
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 4.75rem;

		@include smartphone {
			margin-left: 8px;
			margin-right: 13px;
			gap: 20px;
		}

		@include tabDesc {
			margin-left: 17px;
			margin-right: 17px;
		}

		@include min1024 {
			margin-left: 6.25rem; //*100px
			margin-right: 6.25rem;
		}

		@media screen and (min-width: 545.99px) {
			margin-top: 5px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.dropdown__content--value {
			color: $color-1;
			font-size: 16px;

			@include min1024 {
				font-size: 18px;
			}
		}

		@include max425 {
			.dropdown__content--value {
				font-size: 12px;
				margin: 10px;
				gap: 20px;
			}
		}

		.dropdown__header {
			height: 30px;
			border-radius: 5px;
		}
	}
}