.slider {
    display: flex;
    align-items: center;
    position: relative;
    mix-blend-mode: normal;

    &__picture {
        width: calc(100% - 9.25rem);
        height: 25.9375rem;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 25px;
        margin: auto;
        display: flex;
        justify-content: center;

        @media (min-width: 767.99px) and (max-width :1024px) {
            width: calc(100% - 5.3125rem);
            justify-content: space-around;
        }

        @media (min-width: 374.99px) and (max-width :768px) {
            justify-content: space-around;
        }
    }

    &__number {
        position: absolute;
        bottom: 1.875rem;
        left: 50%;
        color: white;
        font-size: 1.125rem;
        font-weight: 500;
        text-shadow: black 1px 1px;
    }

    &__left {
        width: 2.875rem;
        height: 4.9375rem;
        cursor: pointer;
        position: relative;
        left: 10%;
        color: white;

        @media (min-width: 374.99px) and (max-width :768px) {
            width: 1.4375rem;
            height: 1.4375rem;
            left: 14%;

        }
    }

    &__right {
        width: 2.875rem;
        height: 4.9375rem;
        cursor: pointer;
        position: relative;
        right: 10%;

        @media (min-width: 374.99px) and (max-width :768px) {
            width: 1.4375rem;
            height: 1.4375rem;
            right: 26%;

        }
    }

    @keyframes monSlide {
        0% {
            left: 0px;
        }

        100% {
            left: -1800px;
        }
    }
}