.slider {
    display: flex;
    align-items: center;
    position: relative;
    mix-blend-mode: normal;  //* melange de color

    &__picture {
        width: calc(100% - 200px);
        margin: auto;
        height: 25.9rem;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 25px;
        margin: auto;
        @include flex-center;

        @media screen and (max-width: 425px) {
           height:255px;
           width:335px;
    }
    }

    &__number {
        position: absolute;
        bottom: 1.875rem;
        left: 50%;
        color: white;
        font-size: 1.125rem;
        font-weight: 500;
        text-shadow: black 1px 1px;
    }

    &__left {
        width: 2.875rem;
        height: 79px;
        cursor: pointer;
        position: relative;
        left: 10%;
        color: white;
        display: flex; 
        @media screen and (max-width: 425px) {
        width: 17px;
        height: 17px;
}

    }
    &__right {
        width: 2.875rem;
        height: 79px;
        cursor: pointer;
        position: relative;
        right: 10%;
        display: flex;
        @media screen and (max-width: 425px) {
            width: 17px;
            height: 17px;
    }
    
    }

    @keyframes monSlide {
        0% {
            left: 0px;
        }

        100% {
            left: -1800px;
        }
    }
}
