.tags {
    display: flex;
    white-space: nowrap;
    border-radius: 0.625rem;
    text-align: center;
    margin-bottom: 27px;
    align-items: center;
    flex-wrap: nowrap;

    @include max425 {
        margin-bottom: 0px;
    }
  

    span {
        display: flex;
        align-items: center;
        font-size: 0.875rem;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 0.625rem;
        border-radius: 0.625rem;
        color: white;
        font-size: 0.875rem;
        background-color: $color-1;
        height: 25px;
        margin-bottom: 5px;

        @include max768 {
            height: 18px;
            font-size: 10px;
            justify-content: center;
            border-radius: 5px;
        }

        @media (min-width: 601px) and (max-width: 768px) {
            font-size: 12px;
            padding: 5px;
        }
    }
}

.references {
    display: flex;
    flex-direction: row;

    img {
        width: 15px;
        height: 15px;

        @media (min-width: 1440px) {
            width: 30px;
            height: 30px;
        }
    }
}