$color-1: #FF6060;
$color-2: #e3e3e3;

body {
    position: relative;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh; //** footer en bas
}
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1; //** footer en bas
}

* {
    box-sizing: border-box;
}


//** @mixin  FLEXBOX

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-end {
    display: flex;
    justify-content: flex-end;
}

@mixin flex-start {
    display: flex;
    justify-content: flex-start;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}
