$color-1: #FF6060;
$color-2: #e3e3e3;

body {
    position: relative;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh; //** footer en bas
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1; //** footer en bas
}

* {
    box-sizing: border-box;
}


//** @mixin  FLEXBOX

@mixin fjcsb {
    display: flex;
    justify-content: space-between;
}

@mixin fje {
    display: flex;
    justify-content: flex-end;
}

@mixin fst {
    display: flex;
    justify-content: flex-start;
}

@mixin fjcc {
    display: flex;
    justify-content: center;
}

@mixin fr {
    display: flex;
    flex-direction: row;
}

@mixin fc {
    display: flex;
    flex-direction: column;
}

//*******  MIXINS  RESPONSIVE

@mixin smartphone {
    @media (min-width: 320px) and (max-width: 539.99px) {
        @content;
    }
}

@mixin smartTab {
    @media (min-width: 350px) and (max-width: 600.99px) {
        @content;
    }

}

@mixin minAndMax {
    @media (min-width: 320px) and (max-width :767.99px) {
        @content;
    }
}

@mixin min768 {
    @media (min-width: 767.99) {
        @content;
    }
}

@mixin min425 {
    @media (min-width: 425.99) {
        @content;
    }
}

@mixin tabDesc {
    @media (min-width: 768px) and (max-width :1023.99px) {
        @content;
    }
}

@mixin max425 {
    @media screen and (max-width: 425px) {
        @content;
    }
}

@mixin max768 {
    @media screen and (max-width: 767.99px) {
        @content;
    }
}

@mixin min1024 {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin min1440 {
    @media screen and (min-width: 1439.99px) {
        @content;
    }
}